@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }
}

.icon {
  width: 2em;
  height: 2em;
}